<p-toast></p-toast>
<p-confirmDialog [style]="{width: '350px'}" acceptButtonStyleClass="p-button-primary" header="Confirmation"
                 icon="pi pi-exclamation-triangle"
                 key="confirmDeleteTask"
                 message="'¿Estás seguro de que deseas eliminar esta tarea? Esta acción no se puede deshacer.'"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<div class="flex flex-wrap gap-3 align-items-center justify-content-between mb-4">
        <span class="p-input-icon-left w-full sm:w-20rem flex-order-0 sm:flex-order-0">
          <i class="pi pi-search"></i>
          <input (input)="onSearch($event)" [(ngModel)]="keyword" class="input w-full right-search-input"
                 pInputText
                 placeholder="Busqueda Global" type="text">
        </span>
    <button (click)="navigateToCreateTask()" *ngIf="canAddTask&&isModerator"
            class="p-button-outlined w-full sm:w-auto flex-order-1 sm:flex-order-1" icon="pi pi-plus-circle"
            label="Crear Tarea" pButton></button>
</div>
<div class="grid p-fluid">
    <div class="col-12 lg:col-6">
        <p-floatLabel>
            <p-multiSelect (onChange)="onPriorityChange($event)" [(ngModel)]="selectedPriority"
                           [filter]="false"
                           [options]="priorityItems"
                           class="multiselect-custom" display="chip" id="priority"
                           optionLabel="label" placeholder="Seleccionar Prioridad">
            </p-multiSelect>
            <label for="priority">Seleccionar Prioridad</label>
        </p-floatLabel>
    </div>
    <div class="col-12 lg:col-6">
        <p-floatLabel>
            <p-multiSelect (onChange)="onStatusChange($event)" [(ngModel)]="selectedStatus"
                           [filter]="false"
                           [options]="statusItems"
                           class="multiselect-custom" display="chip" id="status" optionLabel="label"
                           placeholder="Seleccionar Estado">
            </p-multiSelect>
            <label for="status">Seleccionar Estado</label>
        </p-floatLabel>
    </div>
</div>
<p-table (onPage)="onPageChange($event)" (onSort)="onSortChange($event)" [customSort]="true" [lazy]="true"
         [loading]="isLoading"
         [paginator]="true" [rowsPerPageOptions]="[5, 10, 25]" [rows]="10" [showCurrentPageReport]="true"
         [totalRecords]="totalElements" [value]="tasks"
         currentPageReportTemplate="Mostrando registros {first}-{last} de {totalRecords}">
    <!--    <ng-template pTemplate="caption">-->

    <!--    </ng-template>-->
    <ng-template pTemplate="header">
        <tr>
            <th class="white-space-nowrap" pSortableColumn="taskPriorityId" style="width:5%"> Prioridad
                <p-sortIcon field="taskPriorityId"></p-sortIcon>
            </th>
            <th class="white-space-nowrap" pSortableColumn="taskName" style="width:20%"> Nombre de la Tarea
                <p-sortIcon field="taskName"></p-sortIcon>
            </th>
            <th class="white-space-nowrap" pSortableColumn="txDate" style="width:15%"> Fecha de Creación
                <p-sortIcon field="txDate"></p-sortIcon>
            </th>
            <th class="white-space-nowrap" pSortableColumn="taskDueDate" style="width:15%"> Fecha Límite
                <p-sortIcon field="taskDueDate"></p-sortIcon>
            </th>
            <!--        <th class="white-space-nowrap" pSortableColumn="txUser" style="width:10%"> Creado por-->
            <!--          <p-sortIcon field="txUser"></p-sortIcon>-->
            <!--        </th>-->
            <th class="white-space-nowrap" pSortableColumn="taskStatusId" style="width:15%"> Estado
                <p-sortIcon field="taskStatusId"></p-sortIcon>
            </th>
            <th class="white-space-nowrap" style="width:15%">Responsables</th>
            <th class="white-space-nowrap" style="width:10%">Acciones</th>
        </tr>
    </ng-template>
    <ng-template let-task pTemplate="body">
        <tr>
            <td>

                <p-tag [style]="{background: getPriorityColor(task.taskPriority.taskPriorityId), fontSize: '14px'}"
                       value="{{task.taskPriority.taskPriorityName}}"></p-tag>
            </td>
            <!--            <td>{{ task.taskName }}</td>-->
            <td>
                <a (click)="navigateToViewTask(task.taskId)" pTooltip="Ver Tarea" style="cursor: pointer; text-decoration: underline;"
                   tooltipPosition="top">
                    {{ task.taskName }}
                </a>
            </td>
            <td>{{ task.txDate | date: 'dd/MM/yyyy, HH:mm' }}</td>
            <td>{{ task.taskDueDate | date: 'dd/MM/yyyy, HH:mm' }}</td>
            <!--        <td>{{ task.createdBy }}</td>-->
            <td>
                <div class="flex align-items-center gap-2 flex-wrap">
                    <p-tag *ngIf="checkIfTaskIsOverdue(task.taskStatus.taskStatusId, task.taskDueDate)"
                           [style]="{background: '#FF000080'}">
                        VENCIDA {{ task.taskDueDate | timeAgo | uppercase }}
                    </p-tag>
                    <p-tag [style]="{background: getStatusColor(task.taskStatus.taskStatusId),}"
                           value="{{task.taskStatus.taskStatusName}}"></p-tag>
                </div>

            <td>
                <p-avatarGroup>
                    <p-avatar (error)="imgLoaded[$any(user).userId] = false"
                              (load)="imgLoaded[$any(user).userId] = true"
                              *ngFor="let user of task.taskAssignees | slice : 0 : 4"
                              [image]="imgLoaded[$any(user).userId] ? (baseUrl + '/' + $any(user).userId + '/profile-picture/thumbnail') : 'assets/layout/images/avatar_thumbnail.png'"
                              pTooltip="{{$any(user).firstName + ' ' + $any(user).lastName!!}}"
                              shape="circle"
                              size="large" tooltipPosition="top"
                    >
                    </p-avatar>
                    <p-avatar (click)="responsible.toggle($event)" *ngIf="task.taskAssignees.length > 4"
                              [style]="{'background-color':'#D7D7D7', 'color': '#ffffff','cursor': 'pointer'}"
                              label="+{{task.taskAssignees.length - 4}}"
                              shape="circle" size="large"></p-avatar>
                </p-avatarGroup>
                <p-overlayPanel #responsible>
                    <span class="font-medium text-900 block mb-2">Responsables</span>
                    <ul class="list-none p-0 m-0 flex flex-column gap-3">
                        <li *ngFor="let user of task.taskAssignees" class="flex align-items-center gap-2">
                            <img
                                    (error)="imgLoaded[user.userId] = false"
                                    (load)="imgLoaded[user.userId] = true"
                                    [src]="imgLoaded[user.userId] ? (baseUrl + '/' + user.userId + '/profile-picture/thumbnail') : 'assets/layout/images/avatar_thumbnail.png'"
                                    alt="{{user.userId}}"
                                    class="mr-2"
                                    style="width: 38px; height: 38px; border-radius: 50%; object-fit: cover;">
                            <div>
                                <span class="font-medium">{{ user.firstName + ' ' + user.lastName }}</span>
                                <div class="text-sm text-color-secondary">{{ user.email }}</div>
                            </div>
                        </li>
                    </ul>
                </p-overlayPanel>
            </td>
            <td>
                <div class="inline-flex align-items-center">
                    <button (click)="navigateToViewTask(task.taskId)"
                            class="p-button-rounded p-button p-button-secondary mr-1" icon="pi pi-eye"
                            pButton></button>
                    <button (click)="navigateToEditTask(task.taskId)" *ngIf="canEditTask&&(isModerator)&&!task.taskEndDate"
                            class="p-button-rounded p-button p-button-secondary mr-1"
                            icon="pi pi-pencil" pButton></button>
                    <button (click)="onDeleteTask(task.taskId)" *ngIf="canEditTask&&(isModerator)&&!task.taskEndDate"
                            class="p-button-rounded p-button p-button-secondary"
                            icon="pi pi-trash" pButton></button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">
                <div class="flex justify-content-center align-items-center gap-2">
                    <i class="pi pi-info-circle p-mr-2"></i>
                    <span>No se encontraron registros</span>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-new-task (sidebarVisibleChange)="createSidebarVisible = $event" [sidebarVisible]="createSidebarVisible"></app-new-task>
<app-edit-task (sidebarVisibleChange)="editSidebarVisible = $event" [sidebarVisible]="editSidebarVisible" [taskId]="taskId"></app-edit-task>
<app-view-task (sidebarVisibleChange)="viewSidebarVisible = $event" [isOwner]="isModerator" [sidebarVisible]="viewSidebarVisible"
               [taskId]="taskId"></app-view-task>
