<div class="card">
    <full-calendar [options]="calendarOptions"></full-calendar>

    <p-dialog #dd (onHide)="view = ''" [(visible)]="showDialog" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
              [closable]="true" [modal]="true" [style]="{width: '36rem'}">
        <ng-template pTemplate="header">
      <span
              class="text-900 font-semibold text-xl">{{ view === 'display' ? changedEvent.title : view === 'new' ? 'New Event' : 'Edit Event' }}</span>
        </ng-template>
        <ng-template pTemplate="content">
            <div *ngIf="view === 'display'">
                <span class="text-900 font-semibold block mb-2">Description</span>
                <span class="block mb-3">{{ changedEvent.description }}</span>

                <div class="grid">
                    <div class="col-6">
                        <div class="text-900 font-semibold mb-2">Start</div>
                        <p class="flex align-items-center m-0">
                            <i class="pi pi-fw pi-clock text-700 mr-2"></i>
                            <span>{{ changedEvent.start.toISOString().slice(0, 10) }}</span>
                        </p>
                    </div>
                    <div class="col-6">
                        <div class="text-900 font-semibold mb-2">End</div>
                        <p class="flex align-items-center m-0">
                            <i class="pi pi-fw pi-clock text-700 mr-2"></i>
                            <span>{{ changedEvent.end.toISOString().slice(0, 10) }}</span>
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="text-900 font-semibold mb-2">Location</div>
                        <p class="flex align-items-center m-0">
                            <i class="pi pi-fw pi-clock text-700 mr-2"></i>
                            <span>{{ changedEvent.location }}</span>
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="text-900 font-semibold mb-2">Color</div>
                        <p class="flex align-items-center m-0">
              <span [style.backgroundColor]="changedEvent.tag.color"
                    class="inline-flex flex-shrink-0 w-1rem h-1rem mr-2 border-circle"></span>
                            <span>{{ changedEvent.tag.name }}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div *ngIf="view !== 'display'">
                <div class="grid p-fluid formgrid">
                    <div class="col-12 md:col-6 field">
                        <label class="text-900 font-semibold" for="title">Title</label>
                        <span class="p-input-icon-left">
                            <i class="pi pi-pencil"></i>
                            <input [(ngModel)]="changedEvent.title" id="title" pInputText placeholder="Title"
                                   type="text"/>
                        </span>
                    </div>
                    <div class="col-12 md:col-6 field">
                        <label class="text-900 font-semibold" for="location">Location</label>
                        <span class="p-input-icon-left">
                            <i class="pi pi-map-marker"></i>
                            <input [(ngModel)]="changedEvent.location" id="location" pInputText placeholder="Location"
                                   type="text"/>
                        </span>
                    </div>
                    <div class="col-12 field">
                        <label class="text-900 font-semibold" for="description">Event Description</label>
                        <textarea [(ngModel)]="changedEvent.description" [rows]="5" id="description" pInputTextarea
                                  style="resize: none"
                                  type="text"></textarea>
                    </div>

                    <div class="col-12 md:col-6 field">
                        <label class="text-900 font-semibold" for="start">Start Date</label>
                        <p-calendar [(ngModel)]="changedEvent.start" [appendTo]="dd" [maxDate]="changedEvent.end"
                                    [required]="true"
                                    [showTime]="true" dateFormat="mm-dd-yy" inputId="start"></p-calendar>
                    </div>
                    <div class="col-12 md:col-6 field">
                        <label class="text-900 font-semibold" for="start">End Date</label>
                        <p-calendar [(ngModel)]="changedEvent.end" [appendTo]="dd" [minDate]="changedEvent.start"
                                    [required]="true"
                                    [showTime]="true" dateFormat="mm-dd-yy" inputId="end"></p-calendar>
                    </div>
                    <div class="col-12 field">
                        <label class="text-900 font-semibold" for="company-color">Color</label>
                        <p-dropdown [(ngModel)]="changedEvent.tag" [appendTo]="dd" [options]="tags"
                                    inputId="company-color"
                                    optionLabel="name">
                            <ng-template pTemplate="selectedItem">
                                <div *ngIf="changedEvent.tag" class="flex align-items-center">
                                    <div [style.backgroundColor]="changedEvent.tag.color"
                                         class="flex-shrink-0 w-1rem h-1rem mr-2 border-circle"></div>
                                    <div>{{ changedEvent.tag.name }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-tag pTemplate="item">
                                <div class="flex align-items-center">
                                    <div [style.backgroundColor]="tag.color"
                                         class="flex-shrink-0 w-1rem h-1rem mr-2 border-circle"></div>
                                    <div>{{ tag.name }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button (click)="onEditClick()" *ngIf="view === 'display'" icon="pi pi-pencil" label="Edit"
                    pButton></button>
            <button (click)="handleSave()" *ngIf="view === 'new' || view === 'edit'"
                    [disabled]="!changedEvent.start || !changedEvent.end" icon="pi pi-check" label="Save"
                    pButton></button>
        </ng-template>
    </p-dialog>
</div>
