<p-toast></p-toast>
<div class="card">
    <p-confirmDialog [style]="{width: '350px'}" acceptButtonStyleClass="p-button-primary" header="Confirmation"
                     icon="pi pi-exclamation-triangle"
                     key="confirmDeleteProject"
                     message="'¿Estás seguro de que deseas eliminar este proyecto? Esta acción no se puede deshacer.'"
                     rejectButtonStyleClass="p-button-text"></p-confirmDialog>

    <p-table (onPage)="onPageChange($event)" (onSort)="onSortChange($event)" [customSort]="true" [lazy]="true"
             [loading]="isDataLoading"
             [paginator]="true" [rowsPerPageOptions]="[5, 10, 25]" [rows]="10" [showCurrentPageReport]="true"
             [totalRecords]="totalElements" [value]="projects"
             currentPageReportTemplate="Mostrando registros {first}-{last} de {totalRecords}">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-0 sm:flex-order-1">
                    <i class="pi pi-search"></i>
                    <input (input)="onSearch($event)" [(ngModel)]="keyword" class="input w-full right-search-input"
                           pInputText
                           placeholder="Busqueda Global" type="text">
                </span>
                <button (click)="navigateToCreateProject()" *ngIf="canAddProject"
                        class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-plus-circle"
                        label="Crear Proyecto" pButton></button>
            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="white-space-nowrap" pSortableColumn="projectName" style="width:20%"> Nombre del Proyecto
                    <p-sortIcon field="projectName"></p-sortIcon>
                </th>
                <th class="white-space-nowrap" pSortableColumn="projectDateFrom" style="width:10%"> Fecha de Inicio
                    <p-sortIcon field="projectDateFrom"></p-sortIcon>
                </th>
                <th class="white-space-nowrap" pSortableColumn="projectDateTo" style="width:10%"> Fecha de Finalización
                    <p-sortIcon field="projectDateTo"></p-sortIcon>
                </th>
                <th class="white-space-nowrap" pSortableColumn="projectEndDate" style="width:10%"> Fecha de Cierre
                    <p-sortIcon field="projectEndDate"></p-sortIcon>
                </th>
                <th class="white-space-nowrap" style="width:20%">Colaboradores</th>
                <th class="white-space-nowrap" style="width:20%">Miembros</th>
                <th class="white-space-nowrap" style="width:20%">Acciones</th>
            </tr>
        </ng-template>
        <ng-template let-project pTemplate="body">
            <tr>
<!--                <td>{{ project.projectName }}</td>-->
                <td>
                    <a (click)="navigateToViewProject(project.projectId)" pTooltip="Ver Proyecto" tooltipPosition="top" style="cursor: pointer; text-decoration: underline;">
                        {{ project.projectName }}
                    </a>
                </td>
                <td>{{ project.projectDateFrom | date: 'dd/MM/yyyy' }}</td>
                <td>{{ project.projectDateTo | date: 'dd/MM/yyyy' }}</td>
                <td *ngIf="project.projectEndDate">{{ project.projectEndDate | date: 'dd/MM/yyyy' }}</td>
                <td *ngIf="!project.projectEndDate">En Progreso</td>
                <td>
                    <p-avatarGroup>
                        <p-avatar (error)="imgLoaded[$any(user).userId] = false"
                                  (load)="imgLoaded[$any(user).userId] = true"
                                  *ngFor="let user of project.projectModerators | slice : 0 : 5"
                                  [image]="imgLoaded[$any(user).userId] ? (baseUrl + '/' + $any(user).userId + '/profile-picture/thumbnail') : 'assets/layout/images/avatar_thumbnail.png'"
                                  pTooltip="{{$any(user).firstName + ' ' + $any(user).lastName}}"
                                  shape="circle"
                                  size="large" tooltipPosition="top"
                        >
                        </p-avatar>
                        <p-avatar (click)="collaborator.toggle($event)" *ngIf="project.projectModerators.length > 5"
                                  [style]="{'background-color':'#D7D7D7', 'color': '#ffffff','cursor': 'pointer'}"
                                  label="+{{project.projectModerators.length - 5}}"
                                  shape="circle" size="large"></p-avatar>
                    </p-avatarGroup>
                    <p-overlayPanel #collaborator>
                        <span class="font-medium text-900 block mb-2">Colaboradores</span>
                        <ul class="list-none p-0 m-0 flex flex-column gap-3">
                            <li *ngFor="let user of project.projectModerators"
                                class="flex align-items-center gap-2">
                                <img
                                        (error)="imgLoaded[user.userId] = false"
                                        (load)="imgLoaded[user.userId] = true"
                                        [src]="imgLoaded[user.userId] ? (baseUrl + '/' + user.userId + '/profile-picture/thumbnail') : 'assets/layout/images/avatar_thumbnail.png'"
                                        alt="{{user.userId}}"
                                        class="mr-2"
                                        style="width: 38px; height: 38px; border-radius: 50%; object-fit: cover;">
                                <div>
                                    <span class="font-medium"> {{ user.firstName + ' ' + user.lastName }} </span>
                                    <div class="text-sm text-color-secondary"> {{ user.email }}</div>
                                </div>
                            </li>
                        </ul>
                    </p-overlayPanel>
                </td>
                <td>
                    <p-avatarGroup>
                        <p-avatar (error)="imgLoaded[$any(user).userId] = false"
                                  (load)="imgLoaded[$any(user).userId] = true"
                                  *ngFor="let user of project.projectMembers | slice : 0 : 5"
                                  [image]="imgLoaded[$any(user).userId] ? (baseUrl + '/' + $any(user).userId + '/profile-picture/thumbnail') : 'assets/layout/images/avatar_thumbnail.png'"
                                  pTooltip="{{$any(user).firstName + ' ' + $any(user).lastName}}"
                                  shape="circle"
                                  size="large" tooltipPosition="top"
                        >
                        </p-avatar>
                        <p-avatar (click)="member.toggle($event)" *ngIf="project.projectMembers.length > 5"
                                  [style]="{'background-color':'#D7D7D7', 'color': '#ffffff','cursor': 'pointer'}"
                                  label="+{{project.projectMembers.length - 5}}"
                                  shape="circle" size="large"></p-avatar>
                    </p-avatarGroup>
                    <p-overlayPanel #member>
                        <span class="font-medium text-900 block mb-2">Miembros</span>
                        <ul class="list-none p-0 m-0 flex flex-column gap-3">
                            <li *ngFor="let user of project.projectMembers" class="flex align-items-center gap-2">
                                <img
                                        (error)="imgLoaded[user.userId] = false"
                                        (load)="imgLoaded[user.userId] = true"
                                        [src]="imgLoaded[user.userId] ? (baseUrl + '/' + user.userId + '/profile-picture/thumbnail') : 'assets/layout/images/avatar_thumbnail.png'"
                                        alt="{{user.userId}}"
                                        class="mr-2"
                                        style="width: 38px; height: 38px; border-radius: 50%; object-fit: cover;">
                                <div>
                                    <span class="font-medium">{{ user.firstName + ' ' + user.lastName }}</span>
                                    <div class="text-sm text-color-secondary"> {{ user.email }}</div>
                                </div>
                            </li>
                        </ul>
                    </p-overlayPanel>
                <td>
                    <div class="inline-flex align-items-center">
                        <button (click)="navigateToViewProject(project.projectId)"
                                class="p-button-rounded p-button p-button-secondary mr-1" icon="pi pi-eye"
                                pButton></button>
                        <button (click)="navigateToEditProject(project.projectId)" *ngIf="canEditProject&&!project.projectEndDate"
                                class="p-button-rounded p-button p-button-secondary mr-1"
                                icon="pi pi-pencil" pButton></button>
                        <button (click)="onDeleteProject(project.projectId)" *ngIf="canEditProject && !project.projectEndDate"
                                class="p-button-rounded p-button p-button-secondary"
                                icon="pi pi-trash" pButton></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">
                    <div class="flex justify-content-center align-items-center gap-2">
                        <i class="pi pi-info-circle p-mr-2"></i>
                        <span>No se encontraron registros</span>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
