<div class="layout-sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="sidebar-header">
        <a [routerLink]="['/']" class="app-logo">
          <img src="../../assets/layout/images/logo_umsa_alt.png" alt="logo" class="app-logo-normal" style="width: 250px; height: auto;">
           <img src="assets/layout/images/logo_umsa.png" alt="logo" class="app-logo-small">
        </a>
        <button class="layout-sidebar-anchor p-link z-2 mb-2" type="button" (click)="anchor()"></button>
    </div>


    <div #menuContainer class="layout-menu-container">
        <app-menu></app-menu>
    </div>
</div>
