<p-sidebar [(visible)]="visible" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" styleClass="layout-profile-sidebar w-full sm:w-25rem">
    <div class="flex flex-column mx-auto md:mx-0">
        <span class="mb-2 font-semibold">¡Hola de nuevo!</span>
        <span class="text-color-secondary font-medium mb-5">{{ decoded?.name }}</span>

        <ul class="list-none m-0 p-0">
            <li>
                <a class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150" (click)="onProfile()">
                    <span>
                        <i class="pi pi-user text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Perfil</span>
                        <p class="text-color-secondary m-0">Ver tu perfil</p>
                    </div>
                </a>
            </li>
          <p-confirmDialog header="Confirmation" key="confirmLogout" icon="pi pi-exclamation-triangle" message="¿Estás seguro de que deseas cerrar sesión?"
                           [style]="{width: '350px'}" acceptButtonStyleClass="p-button-primary" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
            <li>
                <a class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150" (click)="onLogout()">
                    <span>
                        <i class="pi pi-power-off text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Cerrar sesión</span>
                        <p class="text-color-secondary m-0">Salir del sistema</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>


    <div class="flex flex-column mt-5 mx-auto md:mx-0">
        <span class="mb-2 font-semibold">Notificaciones</span>
        <span class="text-color-secondary font-medium mb-5">Tienes {{ notifications.length }} notificaciones</span>
        <ul class="list-none m-0 p-0">
            <li *ngFor="let notification of notifications">
                <a class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150">
          <span>
              <i [class]="notification.icon"></i>
          </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">{{ notification.messageBody }}</span>
                        <p class="text-color-secondary m-0">{{ notification.txDate | timeAgo }}</p>
                    </div>
                    <button pButton pRipple type="button" icon="pi pi-check" class="p-button p-button-text" pTooltip="Marcar como leido" tooltipPosition="left" (click)="markAsRead(notification.notificationId)">
                    </button>
                </a>
            </li>
        </ul>
    </div>
</p-sidebar>
