<div [id]="card.taskId"
     class="flex surface-card flex-column w-full border-1 surface-border p-3 gap-2 hover:surface-ground cursor-pointer border-round">
    <div class="flex justify-content-between align-items-center">
        <span class="text-900 font-semibold">{{ card.taskName }}</span>
        <div>
            <button (click)="menu.toggle($event)" class="p-button-rounded p-button-text p-button-secondary p-trigger"
                    icon="pi pi-ellipsis-v" pButton
                    pRipple
                    type="button"></button>
            <p-tieredMenu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-tieredMenu>
        </div>
    </div>
    <div *ngIf="card.taskDescription" class="text-700" style="word-break: break-word"
            [innerHTML]="card.taskDescription | breakLine"></div>
    <div class="flex align-items-center gap-1 flex-wrap">
        <p-tag [style]="{background: getPriorityColor(card.taskPriority.taskPriorityId)}"
               value="{{card.taskPriority.taskPriorityName}}"></p-tag>

        <p-tag *ngIf="checkIfTaskIsOverdue(card.taskStatus.taskStatusId, card.taskDueDate)"
               [style]="{background: '#FF000080'}">
            VENCIDA {{ card.taskDueDate | timeAgo | uppercase }}
        </p-tag>
        <p-tag [style]="{background: getStatusColor(card.taskStatus.taskStatusId),}"
               value="{{card.taskStatus.taskStatusName}}"></p-tag>
    </div>
    <div class="flex align-items-center justify-content-between flex-column md:flex-row gap-4 md:gap-0">
        <p-avatarGroup>
            <p-avatar (error)="imgLoaded[user.userId] = false"
                      (load)="imgLoaded[user.userId] = true"
                      *ngFor="let user of card.taskAssignees | slice : 0 : 3"
                      [image]="imgLoaded[user.userId] ? (baseUrl + '/' + user.userId + '/profile-picture/thumbnail') : 'assets/layout/images/avatar_thumbnail.png'"
                      [style]="{width: '30px', height: '30px'}"
                      pTooltip="{{user.firstName + ' ' + user.lastName}}"
                      shape="circle" size="large"
                      tooltipPosition="top"
            >
            </p-avatar>
            <p-avatar (click)="responsible.toggle($event)" *ngIf="card.taskAssignees.length > 3"
                      [style]="{'background-color':'#D7D7D7', 'color': '#ffffff', 'width': '30px', 'height': '30px', 'font-size': '14px','cursor': 'pointer'}"
                      label="+{{card.taskAssignees.length - 3}}"
                      shape="circle" size="large"
            ></p-avatar>
        </p-avatarGroup>
        <p-overlayPanel #responsible>
            <span class="font-medium text-900 block mb-2">Responsables</span>
            <ul class="list-none p-0 m-0 flex flex-column gap-3">
                <li *ngFor="let user of card.taskAssignees" class="flex align-items-center gap-2">
                    <img
                            (error)="imgLoaded[user.userId] = false"
                            (load)="imgLoaded[user.userId] = true"
                            [src]="imgLoaded[user.userId] ? (baseUrl + '/' + user.userId + '/profile-picture/thumbnail') : 'assets/layout/images/avatar_thumbnail.png'"
                            alt="{{user.userId}}"
                            class="mr-2"
                            style="width: 38px; height: 38px; border-radius: 50%; object-fit: cover;">
                    <div>
                        <span class="font-medium">{{ user.firstName + ' ' + user.lastName }}</span>
                        <div class="text-sm text-color-secondary">{{ user.email }}</div>
                    </div>
                </li>
            </ul>
        </p-overlayPanel>
        <div *ngIf="card.taskFiles|| card.taskDueDate" class="flex align-items-center gap-3">
      <span *ngIf="card.taskFiles.length>0" class="text-900 font-semibold"><i
              class="pi pi-paperclip text-700 mr-2"></i>{{ card.taskFiles.length }}</span>
            <span *ngIf="card.taskDueDate" class="text-900 font-semibold"><i
                    class="pi pi-clock text-700 mr-2"></i> {{ card.taskDueDate | date: 'dd/MM/yyyy, HH:mm' }}</span>
        </div>
    </div>
</div>
