<div class="relative overflow-hidden flex flex-column justify-content-center">
    <div class="landing-wrapper">
        <div class="px-3 z-2">
            <div class="grid grid-nogutter justify-content-between align-items-center mb-6 py-6 md:mb-8 md:py-8"
                 id="home">
                <div
                        class="col-12 md:col-4 flex flex-column gap-4 flex-order-1 md:flex-order-0 align-items-center md:align-items-start text-center md:text-left">
                    <span class="block text-900 font-bold text-4xl">Eficiente, intuitivo y escalable</span>
                    <span class="block text-700 text-lg">La solución definitiva para gestionar proyectos y tareas de forma
                        eficiente.</span>
                    <ul class="flex flex-wrap gap-5 list-none p-0">
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">Gestión de Proyectos</span>
                        </li>
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">Gestión de Tareas</span>
                        </li>
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">Colaboración en Tiempo Real</span>
                        </li>
                    </ul>
                </div>
                <div class="col-12 md:col-7 flex-order-0 md:flex-order-1 mb-6 md:mb-0 border-round">
                    <img alt=""
                         animateEnter="moveinright" class="w-full h-full border-round shadow-2 animation-duration-1000 animation-ease-out"
                         src="assets/layout/images/dashboard.png">
                </div>
            </div>

            <div class="my-6 md:my-8" id="apps">
                <span class="text-900 block font-bold text-5xl mb-4 text-center">Características Principales</span>
                <span class="text-700 block text-xl mb-8 text-center line-height-3">
                    Gestiona tus proyectos y tareas de forma eficiente con las siguientes características.
                    </span>

                <div class="flex flex-column lg:flex-row align-items-center justify-content-between mt-8 gap-8">
                    <div class="flex flex-column align-items-center">
                        <img alt="proyectos"
                             animateEnter="scalein" class="w-full h-full border-round surface-border shadow-2 animation-duration-500 origin-top"
                             src="assets/layout/images/proyectos.png">
                        <span class="block text-900 text-lg font-semibold mt-4">Proyectos</span>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <img alt="tareas"
                             animateEnter="scalein" class="w-full h-full border-round surface-border shadow-2 animation-duration-500 origin-top"
                             src="assets/layout/images/tareas.png">
                        <span class="block text-900 text-lg font-semibold mt-4">Tareas</span>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <img alt="reportes"
                             animateEnter="scalein" class="w-full h-full border-round surface-border shadow-2 animation-duration-500 origin-top"
                             src="assets/layout/images/reportes.png">
                        <span class="block text-900 text-lg font-semibold mt-4">Reportes</span>
                    </div>
                </div>
            </div>

            <div class="my-6 py-6 md:my-8 md:py-8" id="features">
                <span class="text-900 block font-bold text-5xl mb-4 text-center">Funcionalidades</span>
                <span class="text-700 block text-xl mb-8 text-center line-height-3">
                    El Sistema de Gestión de Tareas y Soporte Técnico cuenta con las siguientes funcionalidades.
                </span>


                <div class="grid mt-8">
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img alt="icon" class="block mb-3"
                                 src="assets/layout/images/icon-support.svg"/>
                            <span class="text-900 block font-semibold mb-3 text-lg">Colaboración</span>
                            <p class="m-0 text-secondary text-700">Colabora con tu equipo en tiempo real y mejora la
                                comunicación.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img alt="icon" class="block mb-3"
                                 src="assets/layout/images/icon-productivity.svg"/>
                            <span class="text-900 block font-semibold mb-3 text-lg">Productividad</span>
                            <p class="m-0 text-secondary text-700">Aumenta la productividad de tu equipo con la
                                gestión de proyectos y tareas de forma eficiente.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img alt="icon" class="block mb-3"
                                 src="assets/layout/images/icon-accessibility.svg"/>
                            <span class="text-900 block font-semibold mb-3 text-lg">Accesibilidad</span>
                            <p class="m-0 text-secondary text-700">Accede a tus proyectos y tareas desde cualquier
                                dispositivo y lugar.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img alt="components icon" class="block mb-3"
                                 src="assets/layout/images/icon-mobile.svg"/>
                            <span class="text-900 block font-semibold mb-3 text-lg">Diseño Responsivo</span>
                            <p class="m-0 text-secondary text-700">Diseño responsivo para adaptarse a cualquier
                                dispositivo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
