<p-toast></p-toast>
<div class="card">
  <span class="text-900 text-xl font-bold mb-4 block">Perfil de Usuario</span>
  <div class="grid"  *ngIf="user else loading">
    <div class="col-12 lg:col-2">
      <div class="flex justify-center items-center mb-4 justify-content-center">
        <img [src]="profilePictureUrl" alt="Profile" style="width: 120px; height: 120px; border-radius: 50%; object-fit: cover" />
      </div>
      <div class="text-900 font-medium text-xl mb-3">Roles</div>
      <div *ngFor="let group of groups">
        <p class="m-0 p-0 text-600 line-height-3 mr-3">-{{ group }}</p>
      </div>
      <div class="text-900 font-medium text-xl mt-4 mb-3">Permisos</div>
      <div *ngFor="let rol of roles">
        <p class="m-0 p-0 text-600 line-height-3 mr-3">-{{ rol }}</p>
      </div>
    </div>
    <div class="col-12 lg:col-10">
      <div class="grid formgrid p-fluid">
        <div class="field mb-4 col-12 md:col-6">
          <label for="firstName" class="font-medium text-900">Nombre</label>
          <input id="firstName" type="text" pInputText [formControl]="firstNameControl">
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="lastName" class="font-medium text-900">Apellidos</label>
          <input id="lastName" type="text" pInputText [formControl]="lastNameControl">
        </div>
        <div class="field mb-4 col-12">
          <label for="photo" class="font-medium text-900">Cambiar Foto de Perfil</label>
          <div style="display: flex; align-items: center;">
            <p-fileUpload #fileUpload mode="basic" name="avatar" accept="image/*" [maxFileSize]="1000000" styleClass="p-button-outlined p-button-plain" chooseLabel="Subir Imagen" (onSelect)="onSelect($event)"></p-fileUpload>
            <i class="pi pi-times" style="margin-left: 10px; cursor: pointer;" *ngIf="changeProfilePicture" (click)="onCancelSelect()"></i>
          </div>
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="email" class="font-medium text-900">Correo Electrónico</label>
          <input id="email" type="text" pInputText [(ngModel)]="email" [readonly]="true">
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="phone" class="font-medium text-900">Teléfono</label>
          <input id="phone" type="text" pInputText [formControl]="phoneControl">
        </div>

        <div class="field mb-4 col-12">
          <label for="bio" class="font-medium text-900">Acerca de mi</label>
          <textarea id="bio" type="text" pInputTextarea rows="5" [autoResize]="true" [formControl]="descriptionControl"></textarea>
        </div>

        <div class="col-12 lg:col-3 md:col-4 field">
          <button pButton pRipple label="Guardar" class="flex-auto mt-3 mr-3" icon="pi pi-save" (click)="onSave()"></button>
        </div>
        <div class="col-12 lg:col-3 md:col-4 field">
          <button pButton pRipple label="Cancelar" class="flex-auto mt-3 p-button-outlined" icon="pi pi-times" (click)="onCancel()"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="col-12 lg:col-12" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <p-progressSpinner ariaLabel="Cargando..."></p-progressSpinner>
  </div>
</ng-template>
