<button (click)="onConfigButtonClick()" class="layout-config-button p-link" type="button">
    <i class="pi pi-cog"></i>
</button>

<p-sidebar [(visible)]="visible" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" position="right" styleClass="layout-config-sidebar w-18rem">
    <h5>Themes</h5>
    <div class="flex flex-wrap row-gap-3">
        <div *ngFor="let theme of componentThemes" class="w-3">
            <button (click)="changeTheme(theme.name)"
                    [ngStyle]="{'background-color': theme.color}"
                    class="cursor-pointer p-link w-2rem h-2rem border-circle flex-shrink-0 flex align-items-center justify-content-center"
                    type="button"><i *ngIf="theme.name == this.layoutService.config().theme "
                                     class="pi pi-check text-white"></i></button>
        </div>
    </div>

    <h5>Scale</h5>
    <div class="flex align-items-center">
        <button (click)="decrementScale()" [disabled]="scale === scales[0]" class="p-button-text p-button-rounded w-2rem h-2rem mr-2"
                icon="pi pi-minus" pButton
                type="button"></button>
        <div class="flex gap-2 align-items-center">
            <i *ngFor="let s of scales" [ngClass]="{'text-primary-500': s === scale}" class="pi pi-circle-fill text-300"></i>
        </div>
        <button (click)="incrementScale()" [disabled]="scale === scales[scales.length - 1]" class="p-button-text p-button-rounded w-2rem h-2rem ml-2"
                icon="pi pi-plus" pButton
                type="button"></button>
    </div>

    <ng-container *ngIf="!minimal">
        <h5>Menu Type</h5>
        <div class="flex flex-wrap row-gap-3">
            <div class="flex align-items-center gap-2 w-6">
                <p-radioButton [(ngModel)]="menuMode" inputId="mode1" name="menuMode" value="static"></p-radioButton>
                <label for="mode1">Static</label>
            </div>
            <div class="flex align-items-center gap-2 w-6">
                <p-radioButton [(ngModel)]="menuMode" inputId="mode2" name="menuMode" value="overlay"></p-radioButton>
                <label for="mode2">Overlay</label>
            </div>
            <div class="flex align-items-center gap-2 w-6">
                <p-radioButton [(ngModel)]="menuMode" inputId="mode3" name="menuMode" value="slim"></p-radioButton>
                <label for="mode3">Slim</label>
            </div>
            <div class="flex align-items-center gap-2 w-6">
                <p-radioButton [(ngModel)]="menuMode" inputId="mode4" name="menuMode" value="slim-plus"></p-radioButton>
                <label for="mode3">Slim +</label>
            </div>
            <div class="flex align-items-center gap-2 w-6">
                <p-radioButton [(ngModel)]="menuMode" inputId="mode6" name="menuMode" value="reveal"></p-radioButton>
                <label for="mode5">Reveal</label>
            </div>
            <div class="flex align-items-center gap-2 w-6">
                <p-radioButton [(ngModel)]="menuMode" inputId="mode7" name="menuMode" value="drawer"></p-radioButton>
                <label for="mode6">Drawer</label>
            </div>
            <div class="flex align-items-center gap-2 w-6">
                <p-radioButton [(ngModel)]="menuMode" inputId="mode5" name="menuMode" value="horizontal"></p-radioButton>
                <label for="mode4">Horizontal</label>
            </div>
        </div>

        <h5>Menu Theme</h5>
        <div class="field-radiobutton">
            <p-radioButton [(ngModel)]="menuTheme" inputId="menutheme-colorscheme" name="menuTheme" value="colorScheme"></p-radioButton>
            <label for="menutheme-colorscheme">Color Scheme</label>
        </div>
        <div class="field-radiobutton">
            <p-radioButton [(ngModel)]="menuTheme" inputId="menutheme-primarycolor" name="menuTheme" value="primaryColor"></p-radioButton>
            <label for="menutheme-primarycolor">Primary Color</label>
        </div>
        <div class="field-radiobutton">
            <p-radioButton [(ngModel)]="menuTheme" inputId="menutheme-transparent" name="menuTheme" value="transparent"></p-radioButton>
            <label for="menutheme-transparent">Transparent</label>
        </div>
    </ng-container>

    <h5>Color Scheme</h5>
    <div class="field-radiobutton">
        <p-radioButton [(ngModel)]="colorScheme" inputId="mode-light" name="colorScheme" value="light"></p-radioButton>
        <label for="mode-light">Light</label>
    </div>
    <div class="field-radiobutton">
        <p-radioButton [(ngModel)]="colorScheme" inputId="mode-dim" name="colorScheme" value="dim"></p-radioButton>
        <label for="mode-dim">Dim</label>
    </div>
    <div class="field-radiobutton">
        <p-radioButton [(ngModel)]="colorScheme" inputId="mode-dark" name="colorScheme" value="dark"></p-radioButton>
        <label for="mode-dark">Dark</label>
    </div>

    <ng-container *ngIf="!minimal">
        <h5>Input Style</h5>
        <div class="flex">
            <div class="field-radiobutton flex-1">
                <p-radioButton [(ngModel)]="inputStyle" inputId="outlined_input" name="inputStyle" value="outlined"></p-radioButton>
                <label for="outlined_input">Outlined</label>
            </div>
            <div class="field-radiobutton flex-1">
                <p-radioButton [(ngModel)]="inputStyle" inputId="filled_input" name="inputStyle" value="filled"></p-radioButton>
                <label for="filled_input">Filled</label>
            </div>
        </div>

        <h5>Ripple Effect</h5>
        <p-inputSwitch [(ngModel)]="ripple"></p-inputSwitch>
    </ng-container>
</p-sidebar>
