<p-toast></p-toast>
<p-sidebar #sidebar (onHide)="onClose()" (onShow)="onSidebarShow()" [(visible)]="sidebarVisible" [baseZIndex]="10000"
           [showCloseIcon]="false" position="right" styleClass="w-full md:w-8 lg:w-6 xl:w-5">
    <ng-template pTemplate="header">
        <div class="flex pl-3 pr-2 surface-border border-bottom-1 justify-content-between align-items-center w-full">
            <span class="block text-900 font-bold text-xl">Ver Tarea</span>
            <button (click)="onClose()" class="p-button-rounded p-button-text p-button-secondary" icon="pi pi-times"
                    pButton
                    pRipple
                    type="button"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="content" >
        <div class="grid p-fluid formgrid px-3">
            <div class="col-12 field">
                <label class="font-semibold text-900" for="title">Título de la tarea</label>
                <input [(ngModel)]="taskName" [readonly]="true" class="w-full" id="title" name="title"
                       pInputText
                       placeholder="Título de la tarea" type="text">
            </div>
            <div class="col-12 field">
                <label class="font-semibold text-900" for="description">Descripción de la tarea</label>
                <textarea [(ngModel)]="taskDescription" [readonly]="true" [rows]="3" class="w-full"
                          id="description"
                          name="description"
                          pInputTextarea placeholder="Description de la tarea"
                          style="resize: none" type="text"></textarea>
            </div>
            <div class="col-12 lg:col-6 field">
                <label class="font-semibold text-900" for="deadline">Fecha límite</label>
                <p-calendar [(ngModel)]="taskDeadline" [appendTo]="sidebar" [disabled]="true"
                            [minDate]="today"
                            [readonlyInput]="true" [showIcon]="true"
                            [showSeconds]="false" [showTime]="true" dateFormat="dd/mm/yy" id="deadline"
                            placeholder="Fecha límite"></p-calendar>
            </div>
            <div class="col-12 lg:col-6 field">
                <label class="font-semibold text-900" for="priority">Prioridad</label>
                <p-dropdown [(ngModel)]="selectedPriority" [appendTo]="sidebar" [disabled]="!task" [filter]="false"
                            [options]="priorityItems" [readonly]="true"
                            id=priority placeholder="Seleccionar prioridad"></p-dropdown>
            </div>
            <div class="col-12 field">
                <div class="border-1 surface-border border-round field">
                    <span class="font-semibold text-900 block border-bottom-1 surface-border p-3">Responsables</span>
                    <div class="p-3">
                        <div *ngIf="selectedAssignees.length > 0" class="auto-flex align-items-center field">
                            <p-chips [(ngModel)]="selectedAssignees" [disabled]="true" class="chips-custom">
                                <ng-template let-item pTemplate="item">
                                    <img
                                            (error)="imgLoaded[item.value] = false"
                                            (load)="imgLoaded[item.value] = true"
                                            [src]="imgLoaded[item.value] ? (baseUrl + '/' + item.value + '/profile-picture/thumbnail') : 'assets/layout/images/avatar_thumbnail.png'"
                                            alt="{{item.value}}"
                                            class="mr-1"
                                            style="width: 25px; height: 25px; border-radius: 50%; object-fit: cover;">
                                    <span class="ml-1">{{ item.label }}</span>
                                </ng-template>
                            </p-chips>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 field">
                <div class="border-1 surface-border border-round field">
                    <span class="font-semibold text-900 block border-bottom-1 surface-border p-3">Archivos Adjuntos</span>
                    <div class="p-3">
                        <p-fileUpload #fileUploader [auto]="true"
                                      [customUpload]="true"
                                      [disabled]="true" [multiple]="true" [showCancelButton]="false"
                                      [showUploadButton]="false" maxFileSize="10000000"
                                      styleClass="border-1 surface-border surface-card border-round">
                            <ng-template pTemplate="content">
                                <div (click)="fileUploader.advancedFileInput.nativeElement.click()"
                                     class="h-15rem overflow-y-auto py-3 border-round"
                                >
                                    <div *ngIf="!task?.taskFiles?.length"
                                         class="flex flex-column w-full h-full justify-content-center align-items-center">
                                        <i class="pi pi-file-excel text-900 text-4xl"></i>
                                        <span class="block font-semibold text-900 text-lg mt-3">No hay archivos adjuntos</span>
                                    </div>
                                    <div *ngIf="task?.taskFiles?.length" class="flex flex-wrap border-round">
                                        <div (mouseenter)="onFileMouseOver(file)"
                                             (mouseleave)="onFileMouseLeave(file)"
                                             *ngFor="let file of task?.taskFiles; let i = index;"
                                             class="h-full relative w-9rem h-10rem border-3 border-transparent border-round hover:bg-primary transition-duration-100 cursor-auto"
                                             style="padding: 1px;">
                                            <div class="w-full h-full border-round shadow-2 flex align-items-center justify-content-center"
                                                 pTooltip="{{file.filename}} - {{file.fileSize | fileSize}}"
                                                 tooltipPosition="top">
                                                <div
                                                        style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                                    <div
                                                            style="height: 80px; width: 100%; display: flex; align-items: center; justify-content: center;">
                                                        <ng-container
                                                                *ngIf="file.contentType.startsWith('image'); else nonImageTemplate">
                                                            <img
                                                                    (error)="imgLoaded[file.fileId] = false"
                                                                    (load)="imgLoaded[file.fileId] = true"
                                                                    [src]="imgLoaded[file.fileId] ? (filesBaselUrl + '/' + file.fileId + '/thumbnail') : 'assets/layout/images/placeholder.png'"
                                                                    [alt]="file.fileId"
                                                                 class="px-1"
                                                                 style="object-fit: cover; width: 100%; height: 70px; border-radius: 5px;">

                                                        </ng-container>
                                                        <ng-template #nonImageTemplate>
                        <span style="display: flex;"><svg fill="none" style="display:block" viewBox="0 0 100 117"
                                                          width="40.32px" xmlns="http://www.w3.org/2000/svg"><path
                                clip-rule="evenodd" d="
				M 0 5
				c 0 0 0 -4 5 -5
				H 63
				l 26 28
				v 82
				c 0 0 0 4 -5 5
				h -79
				c 0 0 -4 0 -5 -5
				Z" fill="#e5e8eb" fill-rule="evenodd"></path><path clip-rule="evenodd" d="
				M 63 0
			 	L 89 28
			 	H 66
			 	C 66 28 63 28 63 25
			 	V 63
			 	Z" fill="#535c69" fill-rule="evenodd" opacity="0.3"></path><svg height="33" width="65" x="35"
                                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                                 y="53"><rect
                                [attr.fill]="getFileDetails(file.filename).color" height="33" rx="2" ry="2" width="100%"
                                x="0"
                                y="0"></rect><text [attr.x]="getFileDetails(file.filename).x" dominant-baseline="middle"
                                                   fill="#fff"
                                                   style="color:#fff; font-family: OpenSans-Semibold, 'Open Sans', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 22px; line-height: 25px;"                                                   y="54%">{{ getFileDetails(file.filename).extension }}</text></svg></svg></span>
                                                        </ng-template>
                                                    </div>
                                                    <div
                                                            style="overflow: hidden; text-overflow: ellipsis; max-width: 100px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; overflow-wrap: break-word;">
                                                        <p style="font-size: 12px;">{{ getTruncatedFileName(file.filename) }}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <button #buttonOp (click)="$event.stopPropagation(); downloadFile(file)"
                                                    [id]="file.fileId"
                                                    class="p-button-primary text-sm absolute justify-content-center align-items-center cursor-pointer w-2rem h-2rem"
                                                    icon="pi pi-download" pButton
                                                    pRipple
                                                    pTooltip="Descargar archivo"
                                                    style="top: -1px; right: -1px;" tooltipPosition="top"
                                                    [style.display]="defaultDisplay"
                                                    type="button"></button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="flex flex-column sm:flex-row justify-content-between align-items-center gap-3 py-2">
                    <button (click)="onClose()" [disabled]="loading" class="p-button-primary flex-1 p-button-outlined"
                            icon="pi pi-arrow-left" label="Volver"
                            pButton pRipple></button>
                </div>
            </div>
        </div>

    </ng-template>
</p-sidebar>
