<!--<p-toast></p-toast>-->
<div *ngIf="assistantSchedule.length > 0" class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Auxiliares en Turno</span>
    <p-table [responsive]="true"
             [scrollHeight]="'200px'" [scrollable]="true" [value]="assistantSchedule">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Horario</th>
            </tr>
        </ng-template>
        <ng-template let-assistant pTemplate="body">
            <tr>
                <td>{{ assistant.assistant.firstName }}</td>
                <td>{{ assistant.assistant.lastName }}</td>
                <td>{{ assistant.schedule.hourFrom }} - {{ assistant.schedule.hourTo }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Dashboard</span>
    <div class="grid p-fluid">
        <div class="col-12 lg:col-6 field">
            <label class="font-bold text-900" for="dateFrom">Fecha de Inicio</label>
            <p-calendar (onSelect)="onDateFromChange($event)" [formControl]="dateFromControl" [readonlyInput]="true"
                        [showIcon]="true" dateFormat="dd/mm/yy"
                        id="dateFrom" placeholder="Fecha de Inicio"></p-calendar>
        </div>
        <div class="col-12 lg:col-6 field">
            <label class="font-bold text-900" for="dateFrom">Fecha de Finalización</label>
            <p-calendar (onSelect)="onDateToChange($event)" [formControl]="dateToControl" [readonlyInput]="true"
                        [showIcon]="true" dateFormat="dd/mm/yy"
                        id="dateTo" placeholder="Fecha de Finalización"></p-calendar>
        </div>
    </div>
</div>

<div *ngIf="taskDashboard && projectDashboard else loading" class="grid p-fluid">
    <div class="col-12 lg:col-6">
        <div class="card h-full">
            <h5 class="text-left w-full">Proyectos por Estado (Total: {{ projectDashboard.totalProjects }})</h5>
            <p-chart [data]="projectBarData" [options]="projectBarOptions" height="300px" type="bar"
            ></p-chart>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card h-full">
            <h5 class="text-left w-full">Progreso de Proyectos (Total: {{ projectDashboard.totalProjects }})</h5>
            <p-chart [data]="projectLineData" [options]="projectLineOptions" height="300px" type="line"></p-chart>
        </div>
    </div>

    <div class="col-12 lg:col-6">
        <div class="card h-full">
            <h5 class="text-left w-full">Tareas por Estado (Total: {{ taskDashboard.totalTasks }})</h5>
            <p-chart [data]="taskBarData" [options]="taskBarOptions" height="300px" type="bar"
            ></p-chart>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card h-full">
            <h5 class="text-left w-full">Tareas por Prioridad (Total: {{ taskDashboard.totalTasks }})</h5>
            <p-chart [data]="taskPieData" [options]="taskPieOptions" height="300px" type="pie"></p-chart>
        </div>
    </div>
    <div class="col-12">
        <div class="card h-full">
            <h5 class="text-left w-full">Progreso de Tareas (Total: {{ taskDashboard.totalTasks }})</h5>
            <p-chart [data]="taskLineData" [options]="taskLineOptions" height="300px" type="line"></p-chart>
        </div>
    </div>

</div>

<ng-template #loading>
    <div class="flex justify-content-center align-items-center h-full">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>
