<p-toast></p-toast>
<div class="card">
    <p-tabView (onChange)="onTabChange($event)" orientation="left">
        <p-tabPanel class="line-height-3 m-0" header="Gestionar Roles">
            <p-confirmDialog [style]="{width: '350px'}" acceptButtonStyleClass="p-button-primary" header="Confirmation"
                             icon="pi pi-exclamation-triangle"
                             key="confirmDeleteUser" message="'¿Estás seguro de que deseas eliminar este usuario? Esta acción no se puede deshacer.'"
                             rejectButtonStyleClass="p-button-text"></p-confirmDialog>

            <div class="text-900 font-medium text-xl mb-3">Asignar Roles a Usuarios</div>
            <div class="grid p-fluid">
                <div class="col-12 lg:col-6">
                    <p-dropdown (onChange)="onSelectUser($event)" (onClear)="onClearUser()" [(ngModel)]="selectedUser"
                                [filter]="true" [options]="userItems" [showClear]="true"
                                placeholder="Seleccione un usuario">
                        <ng-template let-item pTemplate="item">
                            <div class="inline-flex align-items-center">
                                <img
                                        (error)="imgLoaded[item.value] = false"
                                        (load)="imgLoaded[item.value] = true"
                                        [src]="imgLoaded[item.value] ? (baseUrl + '/' + item.value + '/profile-picture/thumbnail') : 'assets/layout/images/avatar_thumbnail.png'"
                                        alt="{{item.value}}"
                                        class="mr-2"
                                        style="width: 38px; height: 38px; border-radius: 50%; object-fit: cover;">
                                <div class="flex-col">
                                    <div class="font-medium">{{ item.label }}</div>
                                    <div class="text-sm text-color-secondary">{{ item.labelSecondary }}</div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-12 lg:col-6">
                    <div class="grid p-fluid">
                        <div *ngIf="selectedUserId==0" class="col-12 lg:col-6 md:col-6">
                            <button [routerLink]="['/users/create']" class="flex-auto p-button-outlined" icon="pi pi-user-plus" label="Crear Usuario"
                                    pButton
                                    pRipple></button>
                        </div>
                        <div *ngIf="selectedUserId!=0" class="col-12 lg:col-6 md:col-6">
                            <button [routerLink]="['/users/edit/', selectedUserId]" class="flex-auto p-button-outlined p-button-secondary"
                                    icon="pi pi-user-plus"
                                    label="Editar Usuario"
                                    pButton pRipple></button>
                        </div>
                        <div *ngIf="selectedUserId!=0" class="col-12 lg:col-6 md:col-6">
                            <button (click)="onDeleteUser()" class="flex-auto p-button-outlined p-button-secondary" icon="pi pi-user-minus"
                                    label="Eliminar Usuario"
                                    pButton pRipple></button>
                        </div>
                    </div>
                </div>
            </div>

            <p-pickList (onMoveAllToSource)="sortSourceGroups()" (onMoveAllToTarget)="sortTargetGroups()" (onMoveToSource)="sortSourceGroups()"
                        (onMoveToTarget)="sortTargetGroups()"
                        [disabled]="isPickListDisabled" [responsive]="true" [showSourceControls]="false"
                        [showTargetControls]="false" [sourceStyle]="{'height':'250px'}" [source]="sourceGroups"
                        [targetStyle]="{'height':'250px'}" [target]="targetGroups"
                        sourceHeader="Roles Disponibles" targetHeader="Roles Asignados">
                <ng-template let-groups pTemplate="item">
                    <div>{{ groups.name }}</div>
                </ng-template>
            </p-pickList>
            <div *ngIf="selectedUserId!=0" class="grid p-fluid mt-3">
                <div class="col-12 lg:col-2 md:col-3">
                    <button (click)="saveUserGroups()" class="flex-auto p-button" icon="pi pi-save" label="Guardar" pButton [loading]="isLoading"
                            pRipple></button>
                </div>
                <div class="col-12 lg:col-2 md:col-3">
                    <button (click)="onClearUser()" class="flex-auto p-button-outlined" icon="pi pi-times" label="Cancelar" pButton [loading]="isLoading"
                            [loadingIcon]="'pi pi-times'"
                            pRipple></button>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel class="line-height-3 m-0" header="Gestionar Permisos">
            <p-confirmDialog [style]="{width: '350px'}" acceptButtonStyleClass="p-button-primary" header="Confirmation"
                             icon="pi pi-exclamation-triangle"
                             key="confirmDeleteGroup" message="'¿Estás seguro de que deseas eliminar este rol? Esta acción no se puede deshacer.'"
                             rejectButtonStyleClass="p-button-text"></p-confirmDialog>
            <div class="text-900 font-medium text-xl mb-3">Asignar Permisos a Roles</div>
            <div class="grid p-fluid">
                <div class="col-12 lg:col-6">
                    <p-dropdown (onChange)="onSelectRole($event)" (onClear)="onClearGroup()" [(ngModel)]="selectedGroup"
                                [filter]="false" [options]="groupItems" [showClear]="true"
                                placeholder="Seleccione un rol"></p-dropdown>
                </div>
                <div class="col-12 lg:col-6">
                    <div class="grid p-fluid">
                        <div *ngIf="selectedGroupId==0" class="col-12 lg:col-6 md:col-6">
                            <button (click)="onAddGroup()" class="flex-auto p-button-outlined " icon="pi pi-plus" label="Crear Rol"
                                    pButton
                                    pRipple></button>
                        </div>
                        <div *ngIf="selectedGroupId!=0" class="col-12 lg:col-6 md:col-6">
                            <button (click)="onEditGroup()" class="flex-auto p-button-outlined p-button-secondary" icon="pi pi-user-plus"
                                    label="Editar Rol"
                                    pButton pRipple></button>
                        </div>
                        <div *ngIf="selectedGroupId!=0" class="col-12 lg:col-6 md:col-6">
                            <button (click)="onDeleteGroup()" class="flex-auto p-button-outlined p-button-secondary" icon="pi pi-minus"
                                    label="Eliminar Rol"
                                    pButton pRipple></button>
                        </div>
                    </div>
                </div>
            </div>

            <p-pickList (onMoveAllToSource)="sortSourceRoles()" (onMoveAllToTarget)="sortTargetRoles()" (onMoveToSource)="sortSourceRoles()"
                        (onMoveToTarget)="sortTargetRoles()"
                        [disabled]="isPickListDisabled" [responsive]="true" [showSourceControls]="false"
                        [showTargetControls]="false" [sourceStyle]="{'height':'250px'}" [source]="sourceRoles"
                        [targetStyle]="{'height':'250px'}" [target]="targetRoles"
                        sourceHeader="Permisos Disponibles" targetHeader="Permisos Asignados">
                <ng-template let-permissions pTemplate="item">
                    <div>{{ permissions.name }}</div>
                </ng-template>
            </p-pickList>
            <div *ngIf="selectedGroupId!=0" class="grid p-fluid mt-3">
                <div class="col-12 lg:col-2 md:col-3">
                    <button (click)="saveGroupRoles()" class="flex-auto p-button" icon="pi pi-save" label="Guardar" pButton [loading]="isLoading"
                            pRipple></button>
                </div>
                <div class="col-12 lg:col-2 md:col-3">
                    <button (click)="onClearGroup()" class="flex-auto p-button-outlined" icon="pi pi-times" label="Cancelar" pButton [loading]="isLoading" [loadingIcon]="'pi pi-times'"
                            pRipple></button>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>

<p-dialog [(visible)]="visibleAddGroup" [draggable]="false" [modal]="true" [resizable]="false" header="Crear Nuevo Rol"
          showEffect="fade">
    <div class="flex flex-column">

        <div class="field col-12 p-0">
            <label class="font-medium text-900" for="roleName">Nombre del Rol</label>
            <input [formControl]="groupNameControl" class="w-full" id="roleName" pInputText placeholder="Nombre del Rol"
                   type="text">
        </div>
        <div class="field col-12 p-0">
            <label class="font-medium text-900" for="roleDescription">Descripción del Rol</label>
            <textarea [autoResize]="true" [formControl]="groupDescriptionControl" class="w-full h-5rem" id="roleDescription" pInputTextarea
                      placeholder="Descripción del Rol" rows="3" type="text"></textarea>
        </div>

        <div class="flex flex-wrap gap-2 justify-content-between">
            <button (click)="visibleAddGroup = false" class="flex-auto p-button-outlined" label="Cancelar" pButton icon="pi pi-times" [loading]="isLoading" [loadingIcon]="'pi pi-times'"
                    pRipple></button>
            <button (click)="onSaveGroup()" class="flex-auto" label="Guardar" pButton pRipple icon="pi pi-save" [loading]="isLoading"
                    pRipple
            ></button>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="visibleEditGroup" [draggable]="false" [modal]="true" [resizable]="false" header="Editar Rol"
          showEffect="fade">
    <div class="flex flex-column">

        <div class="field col-12 p-0">
            <label class="font-medium text-900" for="newRoleName">Nombre del Rol</label>
            <input [formControl]="groupNameControl" class="w-full" id="newRoleName" pInputText placeholder="Nombre del Rol"
                   type="text">
        </div>
        <div class="field col-12 p-0">
            <label class="font-medium text-900" for="newRoleDescription">Descripción del Rol</label>
            <textarea [autoResize]="true" [formControl]="groupDescriptionControl" class="w-full h-5rem" id="newRoleDescription" pInputTextarea
                      placeholder="Descripción del Rol" rows="3" type="text"></textarea>
        </div>

        <div class="flex flex-wrap gap-2 justify-content-between">
            <button (click)="visibleEditGroup = false" class="flex-auto p-button-outlined" label="Cancelar" pButton icon="pi pi-times" [loading]="isLoading" [loadingIcon]="'pi pi-times'"
                    pRipple></button>
            <button (click)="onUpdateGroup()" class="flex-auto" label="Guardar" pButton pRipple icon="pi pi-save" [loading]="isLoading"

            ></button>
        </div>
    </div>
</p-dialog>
